// TODO organizar

.anex {
  background-color: #f5f5f5;
  border: 1px solid #dcdcdc;
  font-weight: bold;
  overflow-y: hidden;
  padding: 4px 4px 4px 8px;
  margin-top:10px;
}


.drop-zone {
  width: 100%;
  text-align: center;
  padding: 20px 0 20px;
  outline: 2px dashed #92b0b3;
  outline-offset: -10px;
  -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
  transition: outline-offset .15s ease-in-out, background-color .15s linear;
  font-size: 1.25rem;
  background-color: #c8dadf;
  /* position: relative; */
  /* padding: 100px 20px; */
}

.btn-file input[type=file] {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  cursor: pointer;
}

input[type=file] {
  display: block;
}

.drop-zone .drop-zone-caption {
  font-size: 20px;
  font-weight: 600;
  color: #919fa9;
  margin: 0 0 14px;
}

.btn.btn-primary {
  background-color: #00a8ff;
  border-color: #00a8ff;
}