

.content-wrapper, .right-side {
  min-height: 100%;
  background-color: #e1e9ee;
  z-index: 800;
}

.btn {
  box-shadow: 0px 0px 2px rgba(51, 51, 51, 0.14);
}
.box {
  border: none ;
  box-shadow: 0px 0px 2px rgba(51, 51, 51, 0.14)
}