<?= $this->element('header', [
    'title' => 'Dashboard',
    'subtitle' => 'Painel de Controle',
]) ?>
<section class="page-content container-fluid">
    <!-- Small cardes (Stat card) -->
    <div class="row">

    </div>
</section>
